body{
  background-color: darkgrey;
  max-height: 100vh;
  height:100vh;
  overflow: hidden;
  
}

/* --- purple : #a2a2df ----*/


.logo {
  position:fixed;
  width: 15%;
  margin-left:5px;
  height: auto;
  z-index:1000;
  max-width:100%;
  margin-bottom:-90px;
}


#TopWindow{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 15vw;
  position: fixed;
  left: 5px;
  bottom: 5%;   /* anchor to bottom */
  text-align: center;
}




button{
  display: inline-block;
  position: relative;
    height:7%;
    max-width: 90px;
    width: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  padding:0px 5px;
  margin:10px;
}


.carousel-view {
  margin-top:40px;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-bottom:none;
  transition: all 0.25s ease-in;
}


.item-list{
  direction:rtl;
  padding:auto;
  margin:0;
  position: relative;
  display:flex;
  flex-direction:column;
  height: 80%; 
  width: 75%;
  scroll-behavior: smooth;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:white;
  -ms-overflow-style:none;
}


.item-list::-webkit-scrollbar {
  display: show;
  position: relative;
  left: 0;
}

.item{
    display:flex;
    flex-direction:column; 
    scroll-snap-align: center;
    height:auto;
    padding-top:20px;
  padding-bottom:20px;
    padding-left:10px;
  padding-right:10px;
    width:75%;
}




#BottomWindow{
  height: 90vh;
  width: 75vw;
  position: fixed;
  left: 20%;
  bottom: 5%;   /* anchor to SAME bottom */
  display: flex;
  justify-content: center;
  align-items: center;
}

.SmallWindow{
  overflow-y:scroll;
  overflow-x:none;
  margin: 10px;
  position: relative;
  display: none;
  font-family: "Golos Text", Icons;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  height: 85%;
  width: 90%;
  background: white;
  color: black;
  text-align: left;
  flex-wrap: wrap;
  padding: 25px;
}



#Chris {
  display: block;
}

.review{
  display:flex;
}

.booktitle,
.review{
  text-align: left;
}

.SmallWindow::-webkit-scrollbar {
  display: show;
  left:0;
  
}



.largebook img{
  height: 425px;
  width: auto;
  position: relative;
  display:inline-block;
  margin:25px;
  padding:20px;
}

.bookicon{
  display: block;
  width: 50%;      /* adjust size here */
  height: auto;
  margin: 0;       /* no centering */
}

.title-bar{
  float:left;
}





