body{
  background-color: darkgrey;
  max-height: 100vh;
  height:100vh;
  overflow: hidden;
  
}

/* --- purple : #a2a2df ----*/


.logo {
  position:fixed;
  width: 15%;
  margin-left:5px;
  height: auto;
  z-index:1000;
  max-width:100%;
  margin-bottom:-90px;
}


#TopWindow{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 80vh;
  width: 15vw;
  position: fixed; 
  text-align: center;
  margin-left:5px;
  margin-top:100px;
  padding:none;
  
}



button{
  display: inline-block;
  position: relative;
    height:7%;
    max-width: 90px;
    width: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  padding:0px 5px;
  margin:10px;
}


.carousel-view {
  margin-top:40px;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-bottom:none;
  transition: all 0.25s ease-in;
}


.item-list{
  direction:rtl;
  padding:auto;
  margin:0;
  position: relative;
  display:flex;
  flex-direction:column;
  height: 80%; 
  width: 75%;
  scroll-behavior: smooth;
  overflow-x:none;
  overflow-y:auto;
  background-color:white;
  -ms-overflow-style:none;
}


.item-list::-webkit-scrollbar {
  display: show;
  position: relative;
  left: 0;
}

.item{
    display:flex;
    flex-direction:column; 
    scroll-snap-align: center;
    height:auto;
    padding-top:20px;
  padding-bottom:20px;
    padding-left:10px;
  padding-right:10px;
    width:75%;
}




#BottomWindow{
  height: 90vh;
  width: 75vw;
  position: fixed;
  display: inline-block;
  left: 20%;
  top:5%;
  text-align: center;
  justify-content: center;
  padding: none;
  margin-left: 10px;
}

.SmallWindow{
  overflow-y:scroll;
  margin: 20px 0;
  position: relative;
  display: block;
  left: 50%;
  font-family: "Golos Text", Icons;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  transform: translatex(-50%);
  height: 85%;
  width: 85%;
  background: white;
  color: black;
  text-align: left;
  flex-wrap: wrap;
  padding: 20px;
}

.review{
  padding: 15px;
  display:flex;
}

.SmallWindow::-webkit-scrollbar {
  display: show;
  left:0;
  
}


.largebook{
  height: 70%;
  width: 50%;
  display:inline-block;
  left:0;
  margin-left: -100px;
  margin-top: -40px;
  
}

.largebook img{
  height: 90%;
  width: auto;
  position: relative;
  display:inline-block;
  margin:25px;
  padding:20px;
}
.bookicon{
  display:block;
  position: relative;
  height:80%;
  width:auto;
  left:50%;
  transform:translatex(-50%);
  top:10%;
  margin: 0 20px;
  
}


@media (max-width:756px){
  #BottomWindow{
   width: 85vw; 
  }
  .smallwindow{
    text-align: center;
  }
  .bookicon{
    margin:auto;
    height:25%;
  }
}



